*{
    margin: 0;
    padding: 0;
}
.img{
    position: absolute;
    z-index: -1;
}
.img img {
    transition: transform 5s ease;
}

.img img:hover {
    transform: scale(1.5);
}

.main{
    position: relative;
    z-index: 1;
    border: 2px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.form{
    border-radius: 20px;
    background-color: rgba(229, 11, 222, 0.454);
    box-shadow:1px 1px 2px black;
    padding: 20px;
    margin-top: 130px;
}
.form:hover{
    background-color: rgba(229, 11, 222, 0.781);
}
.main h1{
    margin: 10px;
    text-align: center;
    font-family: cursive;
    font-size: 3rem;
    color: blanchedalmond;
    text-shadow: 1px 1px 2px black;
}
 .input , p , a  , .btn{
    margin: 5px;
    font-size: 2rem;
}
.input{
    border: none;
    border-radius: 5px;
    background-color: rgba(137, 43, 226, 0.774);
}
.input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    transition: box-shadow 0.3s;
}
.btn{
    /* border: none; */
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(93, 0, 255, 0.658);
    text-shadow: 1px 1px 1px rgb(225, 255, 0);
    color: beige;
    text-align: center;   
}
.btn:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    cursor: pointer;
}
.btn:active {
    transform: scale(0.95);
    transition: transform 0.1s;
}


.main p{
    text-align: right;
    font-size: 1.5rem;
    font-family: monospace;
}
.main p a{
    text-decoration: none;
}
.btn2{
    display: flex;
    justify-content: center;
}
.main .name{
    font-family:monospace;
    padding:5px;
    font-size: 1.8rem;
   
}
.main .input{
    padding: 6px;
    color: aliceblue;
}
@keyframes slideIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.form {
    animation: slideIn 0.8s ease-out;
}

